@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
body{
    overflow: auto;
}
.carousel {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling in iOS Safari */
  }

  .carousel-item {
    flex: 0 0 auto;
    width: 80%;
    scroll-snap-align: start;
    transition: transform 0.5s ease;
  }

  .carousel-item:hover {
    transform: scale(1.2);
  }

  @media screen and (max-width: 768px) {
    .carousel-item {
      width: 70%;
    }
  }